# Prerequisites
*.d

*.creator.user
.qtc_clangd

# Object files
*.o
*.ko
*.obj
*.elf
*.pef
*.ae
*.lib
*.svg

html
latex

docs/

*.c.pp

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

Samples/LockScreen/LockScreen
Samples/LockScreen/LockScreen.pdf

Samples/CanvasExample/CanvasExample
Samples/CanvasExample/CanvasExample.pdf

*.dsk

# Yacc/Bison
y.output
y.tab.c
lex.yy.c
y.tab.h

settings.json

Tests/*.svg
Tests/*.pdf

# intellij
.idea
